@use '../../employees/employee-form/employee-form.scss';

.input-with-suffix {
  position: relative;
  display: flex;
  align-items: center;
  
  .form-control {
    padding-right: 4.5rem;
  }
  
  .suffix {
    position: absolute;
    right: 1rem;
    color: var(--slate-400);
    font-size: 0.875rem;
    pointer-events: none;
  }
}
