@import '../../employees/employee-list/employee-list.scss';

.item-cell {
  display: flex;
  align-items: center;
  gap: 1rem;

  .icon-sm {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;

    &.bg-amber { background-color: #f59e0b; }
  }

  .item-info {
    display: flex;
    flex-direction: column;

    .item-name {
      font-weight: 600;
      color: var(--slate-900);
    }

    .item-desc {
      font-size: 0.75rem;
      color: var(--slate-500);
    }
  }
}
